@font-face {
    font-family: 'Sanet';
    src: url("../fonts/alk-sanet.ttf");
    font-stretch: ultra-condensed;
}
input[type="text"]{height: 35px; width: 100px; font-size: 100%; text-align: right; font-family: 'Sanet';}
table.calc{padding: 20px;   border-spacing: 10px; border-collapse: separate; font-family: 'Sanet'; width: 750px;}
table.calc tr{padding: 15px; color: white}
select {
    height: 35px; width: 100px; font-size: 100%; text-align: right; font-family: 'Sanet';
}
select option{text-align: right; font-family: 'Sanet'; padding:10px; }
input.rate {/*background: transparent;*/ padding: 0; text-align: right }
input#pseudorate, input#pday  {height: 30px; color: black}

table.accrue-amortization{ border-collapse: collapse; min-width: 400px;}
table.accrue-amortization td,th{

    height: 2rem;
    border: 1px solid #ccc;
    text-align: center;
}
table.accrue-amortization th{
    color: white;
    background: lightblue;
    border-color: white;

}
table.accrue-amortization th{background:  #970200;}
td.accrue-payment-number {background: gray; width: 30px; font-weight: bold; color: white}
td.accrue-payment-amount, td.accrue-total-interest, td.accrue-total-payments {width: 150px}
td.accrue-balance{width: 200px; font-weight: bold}
td.accrue-total-payments{background: #feefd1;}
td.accrue-payment-amount {background: #feefd1; font-weight: bold}

.printer {
    float: left;
    cursor: pointer;
}